In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [2]:
df = pd.read_csv('petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
print(df.shape)
df.info()

(48, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [4]:
Y = df['Petrol_Consumption']
X = df.drop('Petrol_Consumption', axis = 1)
X.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [5]:
# spliting the data 80:20

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 2)

In [6]:
# fitting the random forest model for 10 estimators

model = RandomForestRegressor(n_estimators = 10)
model.fit(x_train, y_train)

RandomForestRegressor(n_estimators=10)

In [7]:
# predicting the output

y_pred = model.predict(x_test)
y_pred

array([556.9, 498.9, 680.9, 602.1, 631.8, 620. , 688.2, 608.2, 627.2,
       549. ])

In [8]:
np.array(y_test)

array([547, 525, 632, 603, 644, 591, 610, 508, 566, 541], dtype=int64)

In [9]:
# mean squared error

print(f'Mean squared error is {metrics.mean_squared_error(y_test, y_pred)}')

Mean squared error is 2412.580000000002

In [10]:
# fitting the random forest model for 1000 estimators

model1 = RandomForestRegressor(n_estimators = 1000)
model1.fit(x_train, y_train)

RandomForestRegressor(n_estimators=1000)

In [11]:
# predicting values

y_pred1 = model1.predict(x_test)
y_pred1

array([546.156, 529.118, 650.132, 620.867, 653.369, 612.905, 641.04 ,
       612.402, 627.782, 539.498])

In [12]:
# mean squared error for new model

print(f'Mean squared error is {metrics.mean_squared_error(y_test, y_pred1)}')

Mean squared error is 1691.5807291000008