In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn import datasets
boston = datasets.load_boston()

In [3]:
X = pd.DataFrame(boston.data,columns=boston.feature_names) 

Y = pd.DataFrame(boston.target)

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [5]:
# using normal equation to calculate coefficients

theta = np.linalg.inv(X_train.T@X_train)@X_train.T@Y_train

theta

           0
0  -0.103041
1   0.042651
2  -0.037015
3   3.339860
4  -1.313174
5   5.674198
6   0.002490
7  -0.861427
8   0.194097
9  -0.008998
10 -0.425349
11  0.017373
12 -0.456357

In [6]:
# predicting values

y_pred = np.dot(X_test, theta)

In [7]:
# mean squared error

error = ((y_pred - Y_test)**2).sum()
mse = error/len(Y_test)

print(float(mse))

20.467866441735794